
#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p input {
    margin: 0 auto;
    vertical-align: middle;
}


#morning-change{
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}

#night-change{
    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
}

#morning-change .fc-event{
    background-color: darkorange;
}
#night-change .fc-event{
    background-color: black;
}

